SEM 2/324 l2.docx
SEM 2/Report1_29952883.xlsm
SEM 2/DB/Ass1_29952883.docx
SEM 2/DSS/322R1_29952883.zip
SEM 2/DSS/29952883Prac 1.1.xlsm
SEM 2/DSS/29952883prac1.2.xlsm
SEM 2/DSS/Creating+a+student+page.mp4
SEM 2/DSS/DD LOGO.docx
SEM 2/DSS/Decision+Theory+Ia.mp4
SEM 2/DSS/Decision+Theory+Ib.mp4
SEM 2/DSS/Decision+Theory+II_a_.mp4
SEM 2/DSS/Decision+Theory+II_b_.mp4
SEM 2/DSS/Decision+Theory+III_a_.mp4
SEM 2/DSS/Decision+Theory+III_b_ (1).mp4
SEM 2/DSS/Design Dreams.docx
SEM 2/DSS/ExcelOMQMv5.3.Render.msi
SEM 2/DSS/Minimization Voorbeeld.xlsx
SEM 2/DSS/prac1.2_29952883.xlsm
SEM 2/DSS/Quantitative analysis for management.pdf
SEM 2/DSS/Report 1_29952883.docx
SEM 2/DSS/report.pdf
SEM 2/DSS/Report1_29952883.zip
SEM 2/DSS/Thompson Lumber.xlsx
SEM 2/DSS/Toets claire.xlsx
SEM 2/DSS/322R1_29952883/Report 1_29952883.docx
SEM 2/DSS/322R1_29952883/Report1_29952883.xlsm
SEM 2/DSS/Report1_29952883/Report 1_29952883.docx
SEM 2/DSS/Report1_29952883/Report1_29952883.xlsm
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_excel_examples/QAM_12_Examples.xlsx
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch01/1-2.bre
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch03/3.3.dec
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch03/3.4.dec
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch04/4.3.for
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch05/5.2.for
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch05/5.5.for
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch05/5.6.for
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch06/6.5.inv
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch06/6.6.inv
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch06/6.7.inv
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch06/6.8.inv
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7-2SolvedProblem.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7-33problem.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7-34problem.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7-35problem.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7-37problem.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7-38problem.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7.1.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7.4.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7.5.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch07/7.6.lin
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch09/9.9.tra
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch09/9.10.ass
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch10/10.1.int.mix
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch10/10.1.mix
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch10/10.3.mix
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch10/10.8.goa
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11-CrashingExample.pro
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11.1.net
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11.2.net
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11.3.net
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11.3.pro
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11.4.pro
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11.5.pro
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch11/11.6.pro
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch12/12.5.wai
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch12/12.6.wai
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch13/13.1.sim
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch14/14.1.mar
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch14/14.2.mar
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_ch15/15.5.qua
SEM 2/DSS/rshh_qam12_data_files/rshh_qam12_qm_examples/rshh_qam12_examples_mod07/M7.1.lin
SEM 2/OS/Modern Operating Systems 4th Edition--Andrew Tanenbaum.pdf
SEM 2/OS/OS Su1.docx
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1.sln
SEM 2/OS/Prac1/OperatingSystemsPrac1/.vs/OperatingSystemsPrac1/v15/.suo
SEM 2/OS/Prac1/OperatingSystemsPrac1/.vs/OperatingSystemsPrac1/v15/Server/sqlite3/db.lock
SEM 2/OS/Prac1/OperatingSystemsPrac1/.vs/OperatingSystemsPrac1/v15/Server/sqlite3/storage.ide
SEM 2/OS/Prac1/OperatingSystemsPrac1/.vs/OperatingSystemsPrac1/v15/Server/sqlite3/storage.ide-shm
SEM 2/OS/Prac1/OperatingSystemsPrac1/.vs/OperatingSystemsPrac1/v15/Server/sqlite3/storage.ide-wal
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/App.config
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Form1.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Form1.Designer.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Form1.resx
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/OperatingSystemsPrac1.csproj
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Program.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Properties/AssemblyInfo.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Properties/Resources.Designer.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Properties/Resources.resx
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Properties/Settings.Designer.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/Properties/Settings.settings
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/bin/Debug/OperatingSystemsPrac1.exe
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/bin/Debug/OperatingSystemsPrac1.exe.config
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/bin/Debug/OperatingSystemsPrac1.pdb
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.csproj.CoreCompileInputs.cache
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.csproj.FileListAbsolute.txt
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.csproj.GenerateResource.cache
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.csprojAssemblyReference.cache
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.exe
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.Form1.resources
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.pdb
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/OperatingSystemsPrac1.Properties.Resources.resources
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SEM 2/OS/Prac1/OperatingSystemsPrac1/OperatingSystemsPrac1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SEM 2/Portfolio/.gitattributes
SEM 2/Portfolio/.gitignore
SEM 2/Portfolio/about.html
SEM 2/Portfolio/contact.html
SEM 2/Portfolio/index.html
SEM 2/Portfolio/styles.css
SEM 2/Portfolio/images/chris-ried-ieic5Tq8YMk-unsplash.jpg
SEM 2/Projek/CMPG323 Project 1 Rubric 2020_27082020.pdf
SEM 2/Projek/Git-2.28.0-64-bit.exe
SEM 2/Projek/GitHubDesktopSetup.exe
~$2 ass attendance.docx
~$NS EKSAMEN REF.docx
desktop.ini
~$Sover2.docx
~WRL0005.tmp
~WRL1126.tmp
